<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="img-field">
  <%= form.label :image%>
  <%= form.file_field :image %>

</div>
        <div class="submit-field">
      <%= form.submit%>


    </div>

