
<% if signed_in? -%>
<div>
  <div class = "nav justify-content-center">
  <%= form_with url: posts_path, method: :get, local: true do |form| %>
    <div class="text-field">
    	<%= form.hidden_field :post_id, :value => @post_id %>
  <%= form.text_field :user_id %>


 <%=form.submit("Search", name: nil) %>
<%end%>
</div>
<%end%>
</div>


<div class = "sort_paginate_ajax"><%= render 'post'%> </div>

<script>
   $(function(){
     $('.pagination a').attr('data-remote', 'true')
   });
 </script>